.trackingDiv{
  font-size: 15px !important;
}
.sideBarNav{
  position: absolute;
  top: 45px;
  right: 2%;
  width: 15%;
  height: 90%;
  background-color: white;
}
  .sideBarNav div{
    width: 90%;
    height: 20%;
    display: block;
    margin: 5%;
    background-color: #E6E6E6;
  }
  .sideBarNav a{
  text-decoration: none;
}
.tr.uir-list-row-tr:nth-last-child(2) td{
  border-bottom: none !important;
}
  .uir_list_filter_bar.uir_list_top_button_bar,.uir_list_header,.uir-field-wrapper:nth-child(2),.uir-page-title,.uir_control_bar{
    display: none;
    border: none;
  }
  #div__bodytab,.uir-list-row-even td, tr.uir-list-row-tr:hover td, tr.uir-list-row-tr.uir-active td {
    background: transparent !important;
    background-color: transparent !important;
  }
  .shippingDetails{
    width: 25% !important;
    height: 100% !important;
    padding-bottom: 50px;
  }
  .shippingDetails div{
    padding: 5px 5%;
    display: block;
    font-size: 16px;
    font-weight: bold;
    color:rgb(59, 59, 59);
    text-align: left;
  }
  #a,.shippingDetails{
    align-content: center;
    background-color: #FFFFFF;
    border-color: #000000;
    border-width: 10px;
    box-shadow: #D3D3D3 0 0 0 1px;
    box-sizing: border-box;
    color: #333333;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    height: 200px;
    margin: 5px;
    padding: 0;
    transition: all .2s;
    width: 20%;
}
#a:hover,.sideBarNav div:hover,.shippingDetails:hover{
    background-color:rgb(241, 238, 234);
}
.sideBarNav div,#a div,.shippingDetails div:first-of-type{
    padding-left: 0;
    padding-top: 30px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color:rgb(59, 59, 59);
    text-align: center;
}
.SKU{
    padding: 5px !important;
}
.itemDescription{
    padding: 0px !important;
    font-size: 15px !important;
}
.returnedBoolean,.shippedBoolean,.waveBoolean{
    display: inline-block !important;
    width: 3%;
    margin: 1.5%;
    height: 35px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color:rgb(59, 59, 59);
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    box-border: 0 0 0 1px #D3D3D3;
}
.waveBoolean{

}
.discountAmount{

}
.sideBarNav{

}
.newLine{
    display:block;
}
