.trackingDiv{
  font-size: 15px !important;
}
.sideBarNav{
  position: absolute;
  top: 5%;
  right: 2%;
  width: 15%;
  height: 90%;
  background-color: white;
  border-radius: 10px;
}
  .sideBarNav div{
    width: 90%;
    height: 20%;
    display: block;
    margin: 5%;
    background-color: #E6E6E6;
    border-radius: 10px;
  }
  .sideBarNav a{
  text-decoration: none;
}
  .uir_list_filter_bar.uir_list_top_button_bar{
    display: none;
  }
  #div__bodytab,.uir-list-row-even td, tr.uir-list-row-tr:hover td, tr.uir-list-row-tr.uir-active td {
    background: transparent !important;
    background-color: transparent !important;
  }
.orderInfo,.orderHistorySince,.spentSince,.itemsInOrder{
    display: inline-block;
    width: 20%;
    height: 200px;
    margin: 10px;
    background-color:white;
    border-radius: 25px;
    align-content:center;
    transition: 0.2s all;
}
.orderInfo:hover,.orderHistorySince:hover,.spentSince:hover,.itemsInOrder:hover,.sideBarNav div:hover{
    background-color:rgb(241, 238, 234);
}
.orderInfo div,.orderHistorySince div,.spentSince div,.itemsInOrder div,.sideBarNav div{
    padding-top: 30px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color:rgb(59, 59, 59);
    text-align: center;
}
.itemsInOrder{
    width: 35% !important;
    height: 150px;
}
.SKU{
    padding: 5px !important;
}
.itemDescription{
    padding: 0px !important;
    font-size: 15px !important;
}
.returnedBoolean,.shippedBoolean{
    display: inline-block !important;
    border-radius: 15px;
    width: 30%;
    height: 35px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color:rgb(59, 59, 59);
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}
.discountAmount{

}
.sideBarNav{

}
.newLine{
    display:block;
}
