.orderInfo,.orderHistorySince,.spentSince,.itemsInOrder{
    display: inline-block;
    width: 20%;
    height: 200px;
    margin: 10px;
    background-color:white;
    border-radius: 40px;
    align-content:center;
    transition: 0.2s all;
    min-width: 40%;
}
.orderInfo:hover,.orderHistorySince:hover,.spentSince:hover,.itemsInOrder:hover{
    background-color:rgb(241, 238, 234);
}
.orderInfo div,.orderHistorySince div,.spentSince div,.itemsInOrder div{
    padding-top: 30px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color:rgb(59, 59, 59);
    text-align: center;
}
.itemsInOrder{
    width: 30% !important;
}
.SKU{
    padding: 5px !important;
}
.itemDescription{
    padding: 0px !important;
    font-size: 15px !important;
}
.discountAmount{
    
}
.sideBarNav{

}
.newLine{
    display:block;
}