.tr.uir-list-row-tr:nth-last-child(2) td{
  border-bottom: none !important;
}
#navbarHeader{width: 100%; background-color: #607799 !important; padding: 10px 0 0; width: 100%; height: 6%; margin: 0;}
  .uir_list_filter_bar.uir_list_top_button_bar,.uir_list_header,.uir-field-wrapper:nth-child(2),.uir-page-title,.uir_control_bar{
    display: none;
    border: none;
  }
  #div__bodytab,.uir-list-row-even td, tr.uir-list-row-tr:hover td, tr.uir-list-row-tr.uir-active td {
    background: transparent !important;
    background-color: transparent !important;
  }
  .shippingDetails{
    width: 25% !important;
    height: 100% !important;
    padding-bottom: 50px;
  }
  .shippingDetails div{
    padding: 5px 5%;
    display: block;
    font-size: 16px;
    color:rgb(59, 59, 59);
    text-align: left;
  }
.itemsInOrder,#a,.shippingDetails{
    display: inline-block;
    width: 22%;
    height: 200px;
    margin: 5px;
    background-color:white;
    align-content:center;
    transition: 0.2s all;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px, rgba(0, 0, 0, 0.01) 0 7px 13px -3px;
    border-radius: 3%;
    min-width: 200px;
}
#a{
  transition: all 0.1s;
}
.headingTab{
  background-color: #607799 !important;
  margin-top: 10px;
  color: white;
}
.itemsInOrder:hover,#a:hover,.sideBarNav div:hover,.shippingDetails:hover{
    background-color:rgb(241, 238, 234);
}
.itemsInOrder div,.sideBarNav div,#a div,.shippingDetails div:first-of-type{
    padding-left: 0;
    padding-top: 30px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color:rgb(59, 59, 59);
    text-align: center;
}
.itemsInOrder{
    width: 35% !important;
    height: 150px;
}
.SKU{
    padding: 5px !important;
}
.body{
  background-color:rgb(224,224,224);
  width:100%;
  box-shadow: 0 0 0 2pt black;
  border-radius:20px;
}
.itemDescription{
    padding: 0px !important;
    font-size: 15px !important;
}
.returnedBoolean,.shippedBoolean,.waveBoolean{
    display: inline-block !important;
    width: 31vw;
    margin: 0 0.5%;
    height: 35px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color:rgb(59, 59, 59);
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    box-border: 0 0 0 1px #D3D3D3;
    border-radius: 0 !important;
    min-width: 252px;
}
.newLine{
    display:block;
}
#a:first-of-type:hover::after {
opacity: 100%;
font-weight: bold;
font-size: 2;
color: gray;
left: 12.5%;
top: 55%;
position: absolute;
content: "View Sales Order Page";
}
#a:hover div {
opacity: 50%;
}
